   *{
	margin: 0;
	padding: 0;
}
body{
	/* background-color: aqua; */

}
nav{
	position: fixed;
	width: 100%;
	height: auto;
	display: flex;
	margin-top: -150px;
	justify-content: space-around;
	z-index: 1;
	/* border: 2px solid red; */
	
	/* position: fixed; */
	
}
nav>div{
	/* margin-left: 100px; */
}
#logo{
	/* margin-left: -20px; */
	font-size: 30px;
	
}
nav>div:nth-child(2){
	/* display: flex;
	text-align: center; */
	/* margin-top: 20px; */
	width: 400px;
	height: 20px;
	margin-top: 25px;
	/* border: 2px solid black; */
	

	
}nav>div:nth-child(2)>input{
	width:100%;
	padding: 10px 0px;
}
nav>div:nth-child(3){
	display: flex;
	align-content: center;
	/* border: 2px solid rebeccapurple; */
	width: 400px;
	/* justify-content: space-evenly; */
	/* margin-top:20px; */
	font-size:20px;
	
	
	
}
nav>div:nth-child(3)>a{
	text-decoration: none;
	/* color: rgb(105, 102, 102); */
	color: black;
}
#heading{
	position: fixed;
	display: flex;
	justify-content: space-around;
	text-decoration:none;
	width: 100%;
	background-color:rgb(128, 125, 125) ;
	z-index: 1;
	/* display: block; */
	/* padding-left: 50px; */
	/* border: 2px solid red; */
	/* align-items: center; */
	margin-top: -50px;
	/* display: block; */
	/* height: 50px; */
	

}
.head{
	/* display: flex; */
	
}
hr{
	
	background-color: black;
	color: black;
	height: 2px;
}
#heading>a{
	text-decoration: none;
	font-size: 18px;
	color:rgb(99, 97, 97)
	
}
#offer_part{
	display: flex;
	justify-content: space-around;
	margin-top: 150px;
	background-color: rgb(111, 119, 117);
	height: 50px;
	align-items: center;
}
.free_offer{
	background-color: black;
	color: aliceblue;
	font-size: 30px;
	text-align: center;
	margin-top: 10px;
}
.second{
	display: flex;
	width: 100%;
}
.second>img{
	width:20%;
	height: 100%;
}
.shop_by{
	text-align: center;
	margin: 20px;
}
.carousel-inner img{
	width: 40%;
	/* border: 2px solid red; */
}
.product{
	
	display: flex;
	width: 95%;
	margin: auto;
	/* border: 2px solid red; */
	justify-content: space-between;
	margin-top: 50px;
}
.product>div{
	width: 23%;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	text-align: center;
}
.product button{
	width: 100%;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#Trending_offer{
	display: grid;
	width: 100%;
	grid-template-columns: repeat(3,1fr);
	margin-left:30px;
	text-align: center;
}
#Trending_offer img{
width:80%
}
.h1{
	text-align: center;
	margin-top: 80px;
}
#Trending_offer button{
	border: 2px solid pink;
	padding: 10px;
	background-color: #fff;
	color: black;
	/* outline:auto; */
}
#Trending_offer button:hover{
	background-color: cornflowerblue;
}
#brand-logo{
	margin-top: 80px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(6,1fr);
	border:2px oslid green;
}
#brand-logo img{
	width:85%;
}
#buying_right_now{
	width: 100%;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(4,1fr);
}
#buying_right_now img{
  width: 100%;
}
#buying_right_now button{
	width: 95%;
	padding: 3px;
	border: rgb(54, 51, 51);
	background-color:rgb(70, 67, 67) ;
	color: white;
}
.beauty_images img{
	margin-top: 30px;
	width: 100%;
}
#before_footer{
	display: flex;
	width: 100%;

}
#before_footer>div{
	margin-left: 20px;
	width:50%
}
#before_footer button{
	padding:10px 20px;
	border: none;
	background-color: black;
	color: #fff;
}
#before_footer img{
	width: 10%;
}
#footer1{
	display: flex;
	width: 100%;
	color: rgb(86, 87, 87);
}
#footer1>div{
	width: 50%;


}
#footer1>div:nth-child(1){
	margin-left: 40px;
}
#footer1>div:nth-child(2){
	display: flex;
	justify-content: space-between;
	color: rgb(86, 87, 87);
}
#card_logo{
	display: grid;
	grid-template-columns: repeat(5,1fr);
}
#last_footer{
	display: flex;
	width: 100%;
}
#last_footer>div{
	width: 50%;
}
#last_footer>div:nth-child(1){
	margin-left: 30px;
}
#card_logo img{
	width: 50%;
}